<template lang="pug">
  section.section.nandes-presentation
    //- button.hamburger.hamburger--elastic.is-active(type="button", aria-label="Menu", aria-controls="navigation", aria-expanded="true/false", v-on:click="sideNav", v-bind:class= "classObject")
      span.hamburger-box
        span.hamburger-inner
    h1 Fernando Javier Averanga Aruquipa 
    .nandes__logo
      //- a.nandes__logo_link(href=""): include ../assets/NANDES.svg
</template>

<script>
// import stickyjs from '../../node_modules/sticky-js'
let Sticky = require('sticky-js')
export default {
  created () {
    // setTimeout(() => this.$router.push('/curriculum'), 2500)
    // window.addEventListener('scroll', () => {
      //   console.log(window.scrollY)
    //   if (window.scrollY > 0) {
      //     this.$router.push('/curriculum')
    //   }
    // })
    // let wow = new WOW({
    //   boxClass: 'wow',
    //   animateClass: 'animated',
    //   offset: 0,
    //   mobile: false,
    //   live: false
    // })
    // wow.init()
    let sticky = new Sticky('.nandes__header')
    sticky
  },
  name: 'hello',
  data () {
    return {
      name: 'Fernando Javier Averanga Aruquipa',
      descrip: 'Diseñador Frontend',
      togglemenu: false
    }
  },
  methods: {
    sideNav: () => {
      if (this.togglemenu) {
        this.togglemenu = false
        console.log('Desactivado')
      } else {
        this.togglemenu = true
        console.log('Activado')
      }
    }
  },
  computed: {
    classObject: () => {
      return {
        active: this.togglemenu
      }
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  $blue:#102077;
  $cream: #d69a46;
  $white: #fff;
  $black: #383838;
  $silver: silver;
  $red: #7d1a1a;
  @import '../sass/components';
  h1{
    font-size: 3rem;
    color: $white;
  }
  
</style>
