<template lang="pug">
  .portafolio-nandes
    .portafolio-nandes__item
      figure
        img(src="#", alt="#")
        p NANDES
</template>
<script>
</script>
<style lang="sass">
  @import '../sass/components';
</style>
