<template lang="pug">
  #app.nandes
    aside.aside
      header.header(data-sticky-container)
          nav.header__main
            ul.header__ul
              li.header__item(v-for="menu in menus"): a.header__link(:href="menu.href", v-text="menu.title")
      footer.footer
        p.footer__text <span>Todos los derechos reservados ®.</span><span>Fernando Averanga © 2017,</span>
    router-view
</template>
<script>
  import Firebase from 'firebase'
  let config = {
    apiKey: 'AIzaSyA7yXXX3en1XlNA6BMg2t2R3znnv-IeZg8',
    authDomain: 'nandes-proy.firebaseapp.com',
    databaseURL: 'https://nandes-proy.firebaseio.com',
    storageBucket: 'nandes-proy.appspot.com',
    messagingSenderId: '665944749171'
  }
  let app = Firebase.initializeApp(config)
  let db = app.database()
  let booksRef = db.ref('books')
  let menuRef = db.ref('menu')
  export default {
    name: 'app',
    firebase: {
      books: booksRef,
      menus: menuRef
    }
  }
</script>

<style lang="scss">
//INICIANDO PROYECTO GENERAL
$blue: #354586;
$cream: #d69a46;
$white: #fff;
$black: #383838;
$silver: silver;
$red: #7d1a1a;

@import './sass/ed-grid';
@font-face {
  font-family: 'finger';
  src: url('./assets/FingerPaint-Regular.ttf');
}
body{
    background: linear-gradient($silver,$white 300%);
    height: 100vh;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}
.header {
  width: 100%;
  margin-bottom: .5rem;
  &__main {
    @include edContainer;
    height: 100%;
  }
  &__ul {
    @include edContainer;
    height: 100%;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    &_left {
      @include mainStart;
      @include to(m) {
        display: none;
      }
    }
    &_right {
      @include mainEnd;
      @include to(m) {
        display: none;
      }
    }
  }
  &__logo {
    @include edItem(100, 50, 20, 20);
    @include mainCenter;
  }
  &__item {
    @include edItem(100);
  }
  &__link {
    @include mainCenter;
    @include crossCenter;
    height: 4rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    background: aliceblue;
    font-family: 'finger';
    font-weight: 700;
    border: 5px double #00125d;
    border-radius: 10px;
    background: linear-gradient($blue, $white, lighten($blue,10), $blue);
    color: black;
    background-clip: padding-box;
    &:hover{
      background: linear-gradient($silver, $white, $silver);
    }
  }
  svg {
    width: 100%;
    height: 2.5rem;
  }
}
.aside {
  position: relative;
  @include edItem(100, 40, 25, 20);
  @include crossCenter;
}
.section{
  @include edItem(100, 60, 75, 80);
}
.nandes{
  &-presentation {
    @include mainStart;
    height: 100vh;
    background: linear-gradient($blue, transparent, $blue), linear-gradient(90deg, $blue, white, $blue);
  }
}
.footer{
  @include crossEnd;
  &__text{
    span{
      display: inline-block;
    }
  }
}
</style>
